.fw-video-popup {
	position: relative;
}

.fw-play-button {
	position: absolute;
	width: 80px;
	height: 80px;
	background-color: rgba(0,0,0,.4);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
	border: solid 3px #fff;
	border-radius: 50%;
	top: 50%;
	color: #fff;
	left: 50%;
	cursor: pointer;
	z-index: 100;
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	line-height: 72px;
	padding-left: 2px;
	text-align: center;
	transition: background-color .15s ease-in;
}

.fw-play-button:hover {
	background-color: rgba(0,0,0,.7);
}
