.order-lg-2{
    @include media-breakpoint-up(lg){
        order: 2;
    }
}
.img-leader{
    &:hover{
        box-shadow: 0px 0.375rem 1.5rem 0px rgba(140, 152, 164, 0.125) !important;
        border-radius: 0.5rem;
        transition-duration: .5s;
        border: 1.5px solid $primary;
    }
}