.fw-slick-carousel-wrapper .slick-slide {
	outline: none;
}

.fw-slick-nav .slick-slide {
	cursor: pointer;
}

.fw-slick-nav .slick-current .avatar-title {
	background-color: #2c7be5 !important;
}

.fw-slick-nav .slick-current h3,
.fw-slick-nav .slick-current .icon {
	color: #2c7be5 !important;
}

.fw-slick-nav .slick-current .text-gray-700 {
	color: #152E4D !important;
}

.fw-slick-carousel .slick-list {
	overflow: visible;
}
